:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-blue: #81B3D2;
    --basic-brown: #766357;
    --basic-neutral-background: #888888;
    --basic-light-grey: #EEEEEE;
    --basic-light-black: #333333;
    --basic-transparent-black: rgba(0,0,0,0.3);
    --basic-transparent-white: rgba(255, 255, 255, 0.3);
    --basic-brown-hover: #604E43;
    --basic-brown-active: #503E33;
    --basic-blue-hover: #669EC0;
    --basic-blue-active: #5496BD;
    --basic-ligh-brown-active: #BDBBBC;
    --basic-light-line: #E5E5E5;
    --basic-background-footer: rgba(255, 255, 255, 0.9);
    --basic-background-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);

    --rating-text: #666666; 
    --background-textbox-hover: #EBEBEB;
    --rating-background: #F2F2F2;
    --order-asc: #CACACA;
    --light-grey-toggle: #ABABAB;
    --box-shadow-modal: 0px 7px 15px rgba(0, 1, 1, 0.15);
    --box-shadow-scale-range: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --box-shadow-toggle: 0 2px 0 rgba(171, 171, 171, 0.3);
}


/* Global */

.page {
    height: 100%;
    min-width: 1280px;
    background-color: var(--basic-light-grey);
}

.page__body {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    box-shadow: var(--basic-background-shadow);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    position: relative;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper{}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

/* Main navigation */

.main-header {
    background-color: var(--basic-white);
    position: relative;
}

.menu {
    font-weight: 700;
    padding: 0 73px;
    padding: 15px 73px;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.menu__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.menu__list-item {
    width: 227px;
}

.menu__list-item:nth-child(4n+3) {
    margin-left: auto;
    text-align: right;
}
.menu__list-item:nth-child(4n) {
    text-align: right;
}
.menu__list-item a {
    color: var(--basic-black);
}
.menu__list-item_active a {
    color: var(--basic-brown);
}
.menu__list-item a:hover {
    color: var(--basic-blue);
}
.menu__list-item a:active,
.menu__list-item a:focus {
    color: var(--basic-transparent-black);
}

/* Basic button */

.button{
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    box-sizing: border-box;
    border: none;
}

/* Greeting */

.greeting {
    background-color: var(--basic-white);
    background-image: url('../img/background-photo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;

    position: relative;
}

.greeting::before {
    content: "";
    width: 1200px;
    height: 57px;
    bottom: -1px;
    left: 0;
    background-image: url('../img/mask.svg');
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.greeting__image-text {
    width: 457px;
    height: 351px;
    padding: 77px 0 81px;
}

/* Reasons */

.reasons{
    text-align: center;
}

.reasons__intro-title{
    font-size: 21px;
    font-weight: 700;
    margin: 0;
    padding: 43px 350px;
}

.reasons__intro {
    color: var(--basic-light-black);
    margin: 0;
    padding: 0 73px 51px 73px;
 }

.reasons__list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.reasons__list-item_content {
    line-height: 21px;
    max-height: 256px;
    box-sizing: border-box;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    padding: 47px 49px 5%;
}


.reasons__list-item-title {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 26px;
}

.reasons__list-item-number {
    margin: 0 0 25px;
}

.reasons__list-item-description {
    margin: 0;
}

.reasons__image {
    width: 800px;
    height: 256px;
}

.reasons__list-item_real-town{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.reasons__list-item_devils-bridge{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.reasons__list-other-reasons{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 256px;
}

.reasons__list-item_background_grey{
    color: var(--basic-black);
    background-color: var(--basic-light-grey);
    max-height: none;
    padding: 48px 49px 5%;
}
.reasons__list-item_background_grey p {
    color: var(--basic-light-black);
 } 

.reasons__city-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 330px;
}
.reasons__city-list-item{
    background-color: var(--basic-white);
    color: var(--basic-black);
    padding: 158px 52px 5%;
} 

.reasons__city-list-item p {
    line-height: 21px;
    color: var(--basic-light-black);
 }


.reasons__city-list-item-title{
    font-size: 21px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 8px;
}

.reasons__list-item_devils-bridge img {
    order: -1;
}

.reasons__city-list-item-title_icon-housing {
    position: relative;
}
.reasons__city-list-item-title_icon-housing::before{
    content: "";
    position: absolute;
    top: -98px;
    left: 110px;
    width: 75px;
    height: 72px;
    background-image: url('../img/icon-1.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.reasons__city-list-item-title_icon-food {
    position: relative;
}
.reasons__city-list-item-title_icon-food::before{
    content: "";
    position: absolute;
    top: -97px;
    left: 110px;
    width: 75px;
    height: 70px;
    background-image: url('../img/icon-2.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.reasons__city-list-item-title_icon-souvenirs {
    position: relative;
}
.reasons__city-list-item-title_icon-souvenirs::before{
    content: "";
    position: absolute;
    top: -103px;
    left: 116px;
    width: 64px;
    height: 77px;
    background-image: url('../img/icon-3.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}
/* Seach hotel */

.search-hotel{
    line-height: 24px;
    text-align: center;
}
.search-hotel__title{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 56px 316px 35px;
}

.search-hotel__title ~ p {
    margin: 0;
    padding: 0 316px 42px 316px;
}

.search-hotel_button{
    font-size: 21px;
    background-color: var(--basic-brown);
    width: 568px;
    padding: 31px;
    justify-content: center ;

    display: flex;
    margin: 0 auto;
}
.search-hotel_button:hover,
.search-hotel_button:focus {
    background-color: var(--basic-brown-hover);
}
.search-hotel_button:active{
    color: var(--basic-transparent-white);
    background-color: var(--basic-brown-active);
}

/* Modal window: Seach hotel*/

.modal{
    position: absolute;
    left: 316px;
    font-weight: 700;
    width: 568px;
    min-height:  395px;
    background-color: var(--basic-white);
    box-shadow: var(--box-shadow-modal);
}
.search-form {
    padding: 55px;
    display: flex;
    flex-wrap: wrap;
}
.search-form__item{
    width: 458px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-form__item-date{
    margin-bottom: 29px;
    position: relative;
}

.search-form__wrapper-persons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
}

.search-form__item-person{
    margin: 0;
    margin-bottom: 29px;
    width: 225px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.search-form__item-person:nth-child(2) {
    width: 179px;
}
.search-form__date-input,
.search-form__person-input{
    font-weight: inherit;
    text-transform: inherit;
    border:none;
    background-color: var(--rating-background);
}
.search-form__person-input{
    font-family: inherit;
    text-align: center;
    line-height: inherit;
    width: 38px;
    padding: 7px 0;
}

.search-form__date-input {
    font-family: inherit;
    box-sizing: border-box;
    width: 346px;
    height: 38px;
    padding: 0 0 0 13px;
}
.search-form__person-input:hover,
.search-form__date-input:hover{
    background-color: var(--background-textbox-hover);
}

.search-form__person-input:focus,
.search-form__date-input:focus{
    background-color: var(--basic-white);
    outline: 2px solid var(--basic-light-line);
    outline-offset: -2px;
}
.search-form__lebel-person {
    width: auto;
    margin-right: auto;
}
.search-form__button{
    font-size: 21px;
    display: block;
    width: 100%;
    padding: 16px;
    padding-bottom: 18px;
    background-color: var(--basic-blue);
}
.search-form__button:hover,
.search-form__button:focus{
    background-color: var(--basic-blue-hover);
}
.search-form__button:active{
    color: var(--basic-transparent-white);
    background-color: var(--basic-blue-active);
}

/* Modal window: Buttons */

.button__amount-persons {
    width: 38px;
    height: 38px;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: var(--rating-background);
}
.button__amount-persons:hover path,
.button__amount-persons:hover rect {
    fill: var(--basic-black);
}
.button__amount-persons:active path,
.button__amount-persons:active rect {
    fill: var(--basic-blue);
}

.button__amount-persons_minus {}
.button__amount-persons_plus {}

.search-form__calendar-button {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 9px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-form__calendar-button:hover path {
    fill: var(--basic-black);
}
.search-form__calendar-button:active path {
    fill: var(--basic-blue);
}


/* Map */

.map {
    width: 1200px;
    height: 594px;
    background-image: url('../img/map.jpg');
}

.map iframe {
    border: none;
}

/* Footer: contacts*/

.footer{
    min-height: 120px;
    padding: 0 73px;
    margin: 0;
    background-color: var(--basic-background-footer);
    display: flex;
    /* align-items: center; */
}

.footer_main-page{
    position: absolute;
    bottom: 0%;
}

/* Footer: contacts*/

.contacts{
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin: 22px 0;
    width: 327px;
}

.contacts p {
    margin: 0;
}
.contacts__tag {
    margin: 0;
    padding-bottom: 10px;
}

.contacts__tel{
    color: var(--basic-black);
}

/* Footer: socials*/

.social{
    width: 400px;
    align-self: center;
    margin: 30px 0;
}
.social__list{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.social__button{
    display: flex;
    background-color: var(--basic-blue);
    margin-right: 5px;
    margin-bottom: 5px;
    width: 46px;
    height: 48px;
    align-items: center;
    justify-content: center;
}
.social__list:last-child {
    margin: 0;
}

.social__button:hover,
.social__button:focus {
    background-color: var(--basic-blue-hover);
}

.social__button:active {
    background-color: var(--basic-blue-active);
}
.social__button:active path{
    opacity: 0.3;
}

/* Footer: copyright*/

.copyright{
    width: 327px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright__button{
    margin-left: 8px;
    margin-top: 4px;
}

.copyright__button:hover path {
    fill: var(--basic-blue);
}

.copyright__button:active path {
    fill: var(--basic-ligh-brown-active);
}

/* Hotel filters */

.hotel-filters{
    color: var(--basic-white);
    background-image: url('../img/background.jpg');
    background-color: var(--basic-brown);
    background-repeat: no-repeat;
    line-height: 21px;
}

.filters{
    padding: 25px 73px 8px; 
    display: flex;
    justify-content: space-between;
}

.filters__filter{
    padding: 0;
    margin: 0;
    border: none;
}
.filters__wrapper-checkbox .filters__filter:first-child {
    margin-right: 118px;
}

.filters__list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.filters__title{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 25px;
}

.filters__checkbox-item{
    padding-bottom: 25px;
}

.filters__checkbox-input{}
.filters__checkbox-label{
    margin-left: 39px;
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filters__text-input{
    font-family: inherit;
    font-size: inherit;
    text-transform: inherit;
    border: none;
    text-align: center;
    padding-top: 6.5px;
    padding-bottom: 9px;
    background: none;
    color: var(--basic-white);
}

.filters__text-input::placeholder {
    color: var(--basic-white);
}

.filters__text-input:active,
.filters__text-input:focus {
    outline: none;
}

.filters__range-input{}

.filters__button{
    width: 137px;
    min-height: 36px;
    line-height: 21px;
    background-color: transparent;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    align-self: center;
    margin: 13px 95px 12px 85px;
    padding: 5px;
}

.filters__button:hover,
.filters__button:focus{
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.filters__wrapper-checkbox {
    display: flex;
}


.filters__checkbox-input + .filters__checkbox-label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 1px;
    width: 23px;
    height: 23px;
    background-image: url('../img/checkbox-off.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .filters__checkbox-input:focus + .filters__checkbox-label::before{
    outline: 2px solid var(--basic-transparent-white);
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5); */
  }

  .filters__checkbox-input:checked + .filters__checkbox-label::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 1px;
    width: 27px;
    height: 23px;
    background-image: url('../img/checkbox-on.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .filters__checkbox-input:not(:checked):disabled + .filters__checkbox-label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 1px;
    width: 23px;
    height: 23px;
    background-image: url('../img/checkbox-off-disabled.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

 

  .filters__checkbox-input:checked:disabled + .filters__checkbox-label::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 1px;
    width: 27px;
    height: 23px;
    background-color: transparent;
    background-image: url('../img/checkbox-on-disabled.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .filters__wrapper-range {
    display: flex;
    flex-direction: column;
}
.filters__title-range {
    padding-bottom: 12px;
}
.filters__range-filter{} 
.filters__price-controls {
    width: 313px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.filters__price-controls::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 157px;
    width: 2px;
    height: 22px;
    background-image: url('../img/line.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filters__range-controls {
    padding: 20px 0;
    position: relative;
}
.filters__scale-range{
    height: 2px;
    background: var(--basic-transparent-white);
    box-shadow: var(--box-shadow-scale-range);
}
.filters__bar-range {
    width: 80%;
    height: 2px;
    background: var(--basic-white)
}
.filters__toggle {
    width: 4px;
    height: 4px;
    position: absolute;
    top: 11px;
    cursor: pointer;
    background-color: var(--light-grey-toggle);
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    box-shadow: var(--box-shadow-toggle);
}
.filters__toggle:hover {
    transform: scale(1.2);
  }
.filters__toggle_max {
    left: 0;
}
.filters__toggle_min {
    left: 80%;
}

/* Sorting */

.sorting{
    padding: 8px 73px 10px;
    display: flex;
    align-items: center;
}

.sorting__result{
    font-size: 21px;
    font-weight: 700;
    min-width: 163px;
    padding-right: 5px;
    box-sizing: border-box;
}
.sorting__title{
    font-size: 12px;
    line-height: 18px;
}

.sorting__list{
    list-style: none;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
}

.sorting__list li {
    margin-right: 32px;
}
.sorting__list li:last-child{
    margin-right: 0;
}

.sorting__item{
    color:var(--basic-transparent-black);
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px dashed var(--basic-blue);
    justify-self: end;
}

.sorting__item:hover,
.sorting__item:focus{
    color: var(--basic-blue);
}

.sorting__item:active{
    color: var(--basic-black);
    border: none;
}

.sorting__item_active{
    color: var(--basic-blue);
    border-bottom: none;
}

.sorting__wrapper-order{
    display: flex;
    margin-left: auto;
    margin-top: 6px;
}

.sorting__order:not(:last-child){
    margin-right: 12px;
}

.sorting__order{}

.sorting__order-item-asc path {
    fill: var(--order-asc);
}
.sorting__order-item-desc path {
    fill: var(--basic-blue);
}

.sorting__order:hover path {
    fill: var(--basic-black);
}
.sorting__order:active path {
    fill: var(--basic-blue);
}


/* Hotel results*/

.hotel-results{}

.hotel-results__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.hotel-results__list p {
    color: var(--basic-light-black);
 }
.hotel-results__item{
    padding: 24px 73px 30px;
    border-top: 1px solid var(--basic-light-line);
    display: grid;
    grid-template-columns: 135px auto 110px;
}
.hotel-results__item:last-child{
    border-bottom: 1px solid var(--basic-light-line);
}
.hotel-results__image {
    width: 135px;
    height: 90px;
    margin: auto 0 0;
}
.hotel-results__hotel-wrapper {
    padding-left: 29px;
}
.hotel-results__rating-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.hotel-results__item-title{
    font-size: 21px;
    font-weight: 700;
    margin: 0;
}

.hotel-results__item-title_link{
    color: var(--basic-black);
}

.hotel-results__description-wrapper {
    display: flex;
}
.hotel-results__description-item {
    display: flex;
    flex-direction: column;
    margin-right: 6px;
}
.hotel-results__description-item:last-child {
    margin-right: 0;
}

.hotel-results__description-item p {
    margin: 4px 0 13px 0;
}

.hotel-results__item-title_link:hover,
.hotel-results__item-title_link:focus{
    color: var(--basic-blue);
}
.hotel-results__item-title_link:active{
    color: var(--basic-transparent-black);
}

.hotel-results__button-details{
    font-weight: 700;
    background-color: var(--basic-blue);
    width: 100%;
    padding: 0px 18px 1px 16px;
}
.hotel-results__button-book{
    font-weight: 700;
    background-color: var(--basic-brown);
    width: 100%;
    padding: 1px 17px 0px 17px;
}

.hotel-results__button-details:hover,
.hotel-results__button-details:focus{
    background-color: var(--basic-blue-hover);
}

.hotel-results__button-details:active{
    color: var(--basic-transparent-white);
    background-color: var(--basic-blue-active);
}

.hotel-results__button-book:hover,
.hotel-results__button-book:focus{
    background-color: var(--basic-brown-hover);
}
.hotel-results__button-book:active{
    color: var(--basic-transparent-white);
    background-color: var(--basic-brown-active);
}

.hotel-results__item-rating{
    color: var(--rating-text);
    line-height: 21px;
    padding: 3px 12px 3px 15px;
    text-align: center;
    background-color: var(--rating-background);
    margin: 0;
}

.hotel-results__item-stars{
    width: 19px;
    height: 17px;
    margin-top: 5px;
    background-image: url('../img/star.svg');
    background-repeat: space;
}

.hotel-results__item-stars_4{
    width: 89px;
}
.hotel-results__item-stars_3{
    width: 64px;
}
.hotel-results__item-stars_2{
    width: 40px;
}